.size-8 {
    font-size: 8em;
}
.size-3 {
    font-size: 3em;
}

.size-1-5 {
    font-size: 1.5em;
}
.size-2 {
    font-size: 2em;
}

.input-border {
    border: 0.05em solid darkgray;
    border-radius: 3px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}
.input-checkbox {
    width: 25px;
    height: 25px;
}

.box {
    z-index: 4;
    position: absolute;
}
.padding-top-1{
    padding-top:  0.5em;
}

.max-width-150{
    max-width: 150px;
    margin: 0 auto;
}

.data {
    margin: 3px;
    padding: 12px;
    /* border: 1px solid lightblue; */
}

